h1 {
    font-size: 24px;
    display: flex;
    margin-right: auto;
    color: #F9FAF8;
}
* {
    padding: 0;
    margin: 0;
    background: #1F2937;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav_links li {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    display: inline;
    padding: 20px;
}
.nav_links a:hover {
    color: #3882F6;
}
a {
    text-decoration: none;
}
a:visited {
    color: #E5E7EB
}
h2 {
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;
}
.All {
    padding-top: 5em;
    margin-left: 8em;
    max-width: 400px;
}
.ale {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 400px;
}
.butt {
    padding:0.6em 2em;
    border-radius: 8px;
    color:#fff;
    background-color:#1976d2;
    font-size:1.1em;
    border:0;
}
.butt a:hover {
    color: red;
}