h1 {
    font-size: 24px;
    display: flex;
    margin-right: auto;
    color: #F9FAF8;
}
* {
    padding: 0;
    margin: 0;
    background: #1F2937;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav_links li {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    display: inline;
    padding: 20px;
}
.nav_links a:hover {
    color: #3882F6;
}
a {
    text-decoration: none;

}
a:visited {
    color: #E5E7EB
}
h2 {
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;
}
.All {
    padding-top: 5em;
    padding-bottom: 150px;
    margin-left: 12em;
    max-width: 400px;
}
.ale {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 400px;
}
button {
    padding:0.6em 2em;
    border-radius: 8px;
    color:#fff;
    background-color:#1976d2;
    font-size:1.1em;
    border:0;
    cursor: pointer;

}
h3 {    
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    background-color: #E5E7EB;
}
.container {
    background-color: #E5E7EB;
    padding: 50px;
    height: 300px;    
}
h4 {    
    font-style:italic;
    text-align: center;
    max-width: 700px;
    font-size: 36px;
    color: #3985ee;
}
.conta {
    display: flex;
    padding: 250px;
    background-color: #e5e7eb9a;
}
.a, .b, .c , .d{
    display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 2px solid #3882F6;    
  background-color: #E5E7EB; 
}
.containers {
    display: flex;
    gap: 50px;
    background-color: #E5E7EB;
    justify-content: center;
}