h1 {
    font-size: 24px;
    display: flex;
    margin-right: auto;
    color: #F9FAF8;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #1F2937;
}
.nav_links {
    justify-content: flex-end;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    align-items: flex-end;
}
.nav_links li a:hover {
    color: #3882F6;

}