h1 {
    font-size: 24px;
    display: flex;
    margin-right: auto;
    color: #F9FAF8;
}
body {
    padding: 0;
    margin: 0;
    background: #1F2937;
    height: 100vh;
    flex-direction: column;
    display: flex;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav_links li {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    display: inline;
    padding: 20px;
}
.nav_links a:hover {
    color: #3882F6;
}
a {
    text-decoration: none;

}
a:visited {
    color: #E5E7EB
}
h2 {
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;
}
.All {
    padding-top: 5em;
    padding-bottom: 150px;
    margin-left: 12em;
    max-width: 400px;
}
.ale {
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
    background-color: #1F2937;
    color: #E5E7EB;
    max-width: 500px;
}
button {
    padding:0.6em 2em;
    border-radius: 8px;
    color:#F9FAF8;
    background-color:#3882F6;
    font-size:1.1em;
    border:0;
    cursor: pointer;
    text-align: center;

}
h3 {    
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    background-color: #E5E7EB;
}
.container {
    background-color: #E5E7EB;
    padding: 150px;
    height: 400px;   
    display: flex; 
    flex-direction: column;
}
h4 {
    font-weight: 100;    
    display: flex;
    font-style: italic;
    text-align: center;
    width: 800px;
    font-size: 36px;
    background-color: rgb(209, 209, 209);
    color: #1f2937;
}
.conta {
    display: flex;
    padding: 200px;
    background-color: rgb(209, 209, 209);
    
}
.a, .b ,.c ,.d {
    display: inline-block;
  width: 100px;
  height: 100px;
  padding: 25px;
  border: 3px solid #3882F6;    
  background-color: #E5E7EB; 
}
.containers {
    display: flex;
    padding: 10px;
    background-color: #E5E7EB;
    justify-content: space-around;
}
.dog {
    background-color: #E5E7EB;
    padding: 200px;
}
.dadd {
    display: flex;
    background-color: #3882F6;
    padding: 35px;
    width: 750px;
    justify-content: space-evenly;

}
.text {
    text-align: center;
    width: 150px;
    flex-wrap: wrap;
    font-size: 12px;
    color:#1F2937;
}
  .aw {
    padding: 1px;
    border-radius: 15px;
    color:#F9FAF8;
    border: 1px solid #F9FAF8;
    cursor: pointer;
  }


span {
    font-weight: 900;
    font-size: 24px;
    align-self: flex-end;
    
}
.footer {
    height: 32px;
    background-color: #1f2937;
    color: #F9FAF8;
    text-align: center;
    margin-top: auto;
    padding: 25px;
}
.text1 {
    text-align: center;
    font-size: 34px;
    align-self: flex-start;
    color:#E5E7EB;
    padding: 20px;
    
}
.contaro {
    background-color: gray;;
    padding: 50px;
    text-align: center;
}
.save {
    align-self: flex-end;
}
.texty {
    color:#E5E7EB;
    align-self: flex-end;
    text-align: left;
    margin-left: -341px;
    
}
