h1 {
    font-size: 24px;
    display: flex;
    margin-right: auto;
    color: #F9FAF8;
}
* {
    padding: 0;
    margin: 0;
    background: #1F2937;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav_links li {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    display: inline;
    padding: 20px;
}
.nav_links a:hover {
    color: #3882F6;
}
a {
    text-decoration: none;
}
a:visited {
    color: #E5E7EB
}
h2 {
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;
}
.All {
    padding: 5em;
    margin-left: 8em;
}
.ale {
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
}
button {
    display: flex;
    color:#F9FAF8;
    background-color: #3882F6;
    align-items: center;
    
}