h1 {
    font-size: 24px;
    display: flex;
    margin-right: auto;
    color: #F9FAF8;
}
* {
    padding: 0;
    margin: 0;
    background: #1F2937;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav_links li {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    display: inline;
    padding: 20px;
}
.nav_links a:hover {
    color: #3882F6;
}
a {
    text-decoration: none;
}
a:visited {
    color: #E5E7EB
}
h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: 700;
    color:#F9FAF8;
    justify-content: flex-start;
}
h4 {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    background-color: #E5E7EB;
    height: 350px;
}
p {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    display: flex;
    background-color: #3882F6;
    color:#E5E7EB;
    padding: 10px;
    margin: 50px;
}
.main {
    display: block;
    padding: 1em;
}

